{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "{% static 'css/estilo.css' %} " type="text/css"  rel="stylesheet">
    <link href= "{% static 'css/sty.css' %} " type="text/css"  rel="stylesheet">
    <link href= "{% static 'js/mobile-navbar.js' %} " type="text/js"  rel="stylesheet">
    <link href= "{% static 'js/script.js' %} " type="text/js"  rel="stylesheet">
    
    <title>Agência Art Emporium</title>
</head>
{% block menu %}
<!--Header-->
{% include 'base/components/menu.html' %}
<!--End Header-->
{% endblock menu %}
<body>

    <div class="home-frase">  <br> <br> <br> 
        <br> <br> <br> <p class="letrasfrases">SOLUÇÕES</p> <h2 class="letrasfrases">OBJETIVAS E INTELIGENTES</h2><br>
       <p class="letrasfrases">Maximize os resultados da sua marca</p>
</div>
<div id="vincular-serviços">
    <div class="serviços">
    <br><br>
    <div class="titulo-serviços"><p><center>AGÊNCIA COM FOCO NO </center></p><h3><center><br>MARKETING DIGITAL</center></h3></div><br><br><br>
    <div class="centralizar-tudo">
        
        <div class="serviçosmodelo">
            <ul>
                <li><a style= "text-decoration:none; color: black;"  href="Criação de Sites.html"><center><strong><img class="min-image" src="static/img/logo pc.png" height="70px"><br><div style="margin-top: 10px;">Criação de Sites</div></strong></center><br><div class="arrumar-centro" style="margin-top: -18px;" >Sites profissionais e personalizáveis</div></a></li>
                <br><br><br>
                <li><a style= "text-decoration:none; color: black;" href="Lojas virtuais.html"><center><img class="min-image" src="/static/img/logo de carrinho-preto.png" height="80px"><br><strong>Lojas Virtuais</strong></center><br><div class="arrumar-centro" style="margin-top:-20px ;">Potencialize o seu e-commerce com uma loja online</div></a></li>
            
            </ul>
        
            <ul>
                <li><a style= "text-decoration:none; color: black;" href="Campanhas De Marketing Digital.html"><div class="auto-falante-lado"><img class="min-image" src="static/img/auto falante.png" height="70px" style="margin-left: 10vh"></div><br><strong><div  class="arrumar-centro" style="margin-top: 10px;">Campanhas de Marketing Digital</strong><br><div class="arrumar-centro">Campanhas de Marketig Digital<br>integradas, para aumentar suas vendas</div></a></div></li>
                <br><br><br>
                <li><a style= "text-decoration:none; color: black;" href="Design Gráfico.html"><center><img class="min-image" src="static/img/design grafico logo.png" height="90px"><br><strong>Design Gráfico</strong></center><br><div class="arrumar-centro" style="margin-top: -20px;"> comunicação visual é a identidade da sua marca</div></a></li>
            </ul>
        </div>
    
    </div>
   <br><br><br><br><br><br>
</div>
<div  id="homePortfólio">
    <img class="gif-portfólio" src="static/img/gif portfólio.gif" alt="ilustração" height="350">

    <div id="background-cor">
        <br><br><br>
        <p class = "portfólio-ajuste" style=" font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">NOSSO<br><strong>PORTFÓLIO</strong></p>
        <div  class="botão-portfólio-ajuste"><a href="Portfólio.html"><button style="background: #6ACAD7; margin: 85px; border-radius: 6px; padding: 15px; cursor: pointer; color: #fff; border: none; font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"><strong>CONHEÇA</button></a></div>
    </div>
</div><br>
<p class="nossosClientes"><br>NOSSOS<br><strong>CLIENTES</strong></p>
<div id="clientes">
    <img class="ajuste-logo-clientes" src="static/img/logo1.png" height="110px"> <img class="ajuste-logo-clientes" src="static/img/logo3.png" height="105px"> <img class="ajuste-logo-clientes" src="static/img/logo2.png" height="105px"> <img class="ajuste-logo-clientes" src="static/img/logo5.jpg"height="100px"><img class="ajuste-logo-clientes" src="static/img/logo4.png"height="105px"> <img class="ajuste-logo-clientes" src="static/img/logo6.png" height="125"> 
<br><br><br><br><br>
</div>

<!--Rodapé-->
{% include 'base/components/footer.html' %}
    
</body>
</html>