{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href= "{% static 'css/menuCSS.css' %} " type="text/css"  rel="stylesheet">

</head>

<body class="bg-light py-3">
    <!--menu-->
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        <header class="p-3 mb-3 border-bottom">
            <div class="container">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'img/Logo Art Emporium.jpeg' %}" height="85" alt="">
                </a>
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                  <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
                </a>
        
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                  <li><a href="{% url 'home' %}" class="nav-link px-2 link-secondary">Home</a></li>
                  <li><a href="{% url 'somos' %}" class="nav-link px-2 link-dark">Sobre</a></li>
                  <li><a href="{% url 'register' %}" class="nav-link px-2 link-dark">Registre-se</a></li>
                  <li><a href="{% url 'contato' %}" class="nav-link px-2 link-dark">Contato</a></li>
                </ul>
        
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                  <input type="search" class="form-control" placeholder="procurar..." aria-label="Search">
                </form>
        
                <div class="dropdown text-end">
                  <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png&quot; alt="mdo" width="32" height="32" class="rounded-circle">
                  </a>
                  <ul class="dropdown-menu text-small">
                    <li><a class="dropdown-item" href="#">Marketing Digital</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </header>
<!--<input type="checkbox" id="bt_menu">
<label for="bt_menu">&#9776;</label>
<nav class="menu">
    <a class ="logo" href="Agência Art Emporium.html"><img class ="logo" src="Logo Art Emporium.jpeg" alt="logo" width= "100vh" ></a>
	<div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
    <div class="c_menu">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Sobre</a> 
            <li><a href="register">Register-se</a></li>

                <li><a href="#">Serviços</a>
                    <ul>
                        <li><a href="#">Marketing Digital</a></li>
                        <li><a href="#">Criação de Sites</a>
                        <li><a href="#">Design Gráfico</a>
                        <li><a href="#">Lojas Virtuais</a>
                    </ul>
                </li>
            <li><a href="#">Contato</a>
        </ul>
    </div>
    <div>
       <input type="search" name="busca" class="busca" placeholder="busca">

    </div>-->
<script src="{% static 'js/bootstrap.min.js' %]"></script>

</body>
</html>